[Desktop Entry]
X-AppImage-Arch=@ARCH@
X-AppImage-Version=4.4.20
X-AppImage-Name=@APPNAME@
Name=@APPNAME@
Exec=AppRun
Icon=application-vnd.appimage
Type=Application
Terminal=false
Categories=@CATEGORY@;
Comment=
